<div class="center jumbotron">
    <p>
      <h3>Created By: Andrew Colon</h3>
        <%= image_tag 'my_picture.jpg', class:"img-circle" %>
      <h4>This is my first new Rails webpage</h4>
    </p>   
</div>