<%= render 'pages/header' %>
<div class="container text-center">
    <p>
      <h1>This is my first new Rails webpage</h1>
      <%= image_tag 'my_picture.jpg' %>
     
    </p>   
    <%= link_to 'Home', root_path %>  
</div>
<%= render 'pages/footer' %>