<div class="center jumbotron">
<h1>ALPHA BLOG</h1>

<div><%= image_tag 'my_picture.jpg' %></div>

<p> 
</br>
  <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge" %>

</p>

</div>