$navbar-default-bg: #3368C4;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('background.jpg');
    background-size: cover;
    color: #fff;
}

.btn-xlarge {
    background-color: #3368C4;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.article-title{
    font-weight: bold;
    font-size: 1.5em;
}

.article-body{
    border-top: 1pm solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;

}

footer {
    
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    text-align: center;
}

footer a:hover {
    color: #222;
}

footer ul {
    float: center;
    list-style: none;
}

footer ul li {
    float: center;
    margin-right: 30px;
}